{% extends 'base.html' %}

{% block content %}
<br/>
<h1>Sign up</h1>

{% if error %}
<font color="red">{{ error }}</font>
<br/>
<br/>
{% endif %}

<form method="POST" action="{% url 'accounts:signup' %}">
  {% csrf_token %}
  Email:
  <br/>
  <input type="email" name="email"/>
  <br/>
  <br/>
  First Name:
  <br/>
  <input type="text" name="first_name"/>
  <br/>
  <br/>
  Last Name:
  <br/>
  <input type="text" name="last_name"/>
  <br/>
  <br/>
  Password:
  <br/>
  <input type="password" name="password"/>
  <br/>
  <br/>
  Confirm Password:
  <br/>
  <input type="password" name="password_verify"/>
  <br/>
  <br/>
  <input class="btn btn-primary" type="submit" value="Sign Up"/>
</form>
{% endblock %}
