{% extends 'base.html' %}

{% block content %}

<br/>
<h1>{{ tournament.name }} {{ tournament.start_date_year }}</h1>
<br/>

<table class="table">
  <thead>
    <tr class="color-primary">
      <th scope="col">Position</th>
      <th scope="col">Name</th>
      <th scope="col">Score</th>
    </tr>
  </thead>

{% for user_event in user_events %}

  <tbody>
    {% if user_event.user == request_user %}
        <tr class="table-primary">
    {% else %}
        <tr>
    {% endif %}
    {% if user_event.position %}
      <th scope="row">{{ user_event.position }}</th>
    {% else %}
      <th scope="row"></th>
    {% endif %}
      <td>{{ user_event.user.last_name }}, {{ user_event.user.first_name }}</td>
      {% if user_event.total_score_to_par == 0 %}
          <td>E</td>
      {% else %}
          <td>{{ user_event.total_score_to_par }}</td>
      {% endif %}
    </tr>

{% endfor %}

</table>

{% if tournament.is_open %}
{% if user_has_entry %}
    <button class="btn btn-primary" onclick="location.href='{% url 'players:selection' tournament.tournament_id %}'" type="button">Edit Entry</button>
{% else %}
    <button class="btn btn-primary" onclick="location.href='{% url 'players:selection' tournament.tournament_id %}'" type="button">Join Now!</button>
{% endif %}
{% endif %}


{% endblock %}
